.block-main {
	background: $orange50;
	@include padding(rem(30px) 0 rem(50px));
	padding: 30px 0 50px;
	&-description{
		@include display(flex);
		@include justify-content(center);
	}
	&-list{
		color: rgba(#000, 0.75);
		counter-reset: list 0;
		li{
			font-size: rem(16px);
			@include margin(null null rem(5px) null);
			&:before{
				counter-increment: list;
				content: counter(list);
				@include size(50px);
				border-radius: 50%;
				border: 1px solid rgba(#000, 0.25);
				display: inline-block;
				text-align: center;
				color: $orange;
				line-height: 48px;
				@include margin(null rem(30px) null null);
				@include media(min-width $xs max-width $sm) {
					@include margin(null rem(10px) null null);
					@include size(40px);
					line-height: 38px;
				}
			}
			@include media(min-width $sm max-width $lg) {
				font-size: rem(18px);;
			}
			@include media(min-width $lg) {
				font-size: rem(22px);;
			}
		}
	}
	&-button{
		text-align: center;
		@include margin(rem(30px) null null);
	}
}
.icon-airplane{
	&-wrapper{
		@include clearfix;
	}
	&-inner{
		display: block;
		//width: 20%;
		@include span-columns(2);
		@include shift(5);
		@include margin(rem(20px) null rem(10px) null);
		
		// @include media(min-width $xs max-width $sm) {
		// 	@include margin(rem(60px) null rem(40px) null);
		// }
	}
}
.icon-airplane {
	width: 100%;
	height: 100%;
}



