.block-main {
	background: $orange-new;
	border-top: 15px solid $orange;
	@include padding(0 0 rem(10px));
	@include media(min-width $xs max-width $sm){
		border-top: 7px solid $orange;
	}
	&-title{
		text-align: center;
		color: #fff;
		@include media(min-width $md){
			font-size: rem(36px);
		}
		@include media(min-width $xs max-width $sm){
			font-size: 1.4rem;
		}
	}
	&-desctitle{
		text-align: center;
		@include media(min-width $xs max-width $sm) {
			line-height: 1;
		}
	}
	&-subtitle{
		color: $orange;
	}
	&-description{
		@include display(flex);
		@include justify-content(center);
		text-align: center;
	}
	&-list{
		color: rgba(#000, 0.75);
		li{
			font-size: rem(16px);
			@include margin(null null rem(5px) null);
			@include media(min-width $sm max-width $lg) {
				font-size: rem(18px);;
			}
			@include media(min-width $lg) {
				font-size: rem(22px);;
			}
		}
		.number{
			display: block;
			color: $orange;
			font-weight: bold;
		}
	}
	&-button{
		//text-align: center;
		@include margin(rem(20px) null null);
		@include clearfix;
		a{
			@include span-columns(6);
			@include margin(null null rem(15px));
			@include media(min-width $sm max-width $md){
				@include span-columns(8);
				@include shift(2);
				@include padding(0.625rem 0.9rem);
			}
			@include media(min-width $xs max-width $sm){
				@include span-columns(12);
				@include padding(0.625rem 1rem);
			}
		}
		.yes-sticky{
			display: none;
		}
	}
	&-image{
		text-align: center;
		position: relative;
		.image-absolute{
			position: absolute;
			width: 50%;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		@include media(min-width $sm max-width $lg){
			max-width: 85%;
			margin: auto;
		}
		@include media(min-width $lg){
			max-width: 75%;
			margin: auto;
		}
	}
}
.start-animate {
	.block-main-title, .block-main-image, .navbar-menu, .counter-wrapper, .image-absolute, .block-main-button{
		opacity: 0;
	}
}
.start-brand-animate{
	.navbar-brand-wrapper{
		width: 200px;
		height: 95px;
	}
	.navbar-brand{
		position: fixed;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    z-index: 1001;
	    display: block;
	    max-width: none;
	    width: auto;
	    text-align: center;
		img{
	    	max-width: 400px;
			@include media(min-width $xs max-width $sm){
				max-width: 250px;
			}
		}

	}
	.block-main-overlay{
		position: relative;
		border-top: none;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #424242;
			z-index: 100;
		}
	}
	.brand-overlay{
		background: #424242;
		position: fixed;
		left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
		z-index: 1000;
		&-animate{
			background: $orange-new;
			animation-duration: 0.8s;
		    animation-fill-mode: both;
			@extend .slideInUp;
		}
	}
}
