.block-main {
	background: $orange100;
	@include padding(rem(30px) 0 rem(30px));
	&-description{
		@include display(flex);
		@include justify-content(center);
		text-align: center;
	}
	&-list{
		color: rgba(#000, 0.75);
		li{
			font-size: rem(16px);
			@include margin(null null rem(5px) null);
			@include media(min-width $sm max-width $lg) {
				font-size: rem(18px);;
			}
			@include media(min-width $lg) {
				font-size: rem(22px);;
			}
		}
		.number{
			display: block;
			color: $orange;
			font-weight: bold;
		}
	}
	&-button{
		text-align: center;
		@include margin(rem(20px) null null);
	}
}

.counter{
	&-wrapper{
		text-align: center;
		@include margin(rem(40px) null rem(20px));
	}
	@include padding(rem(10px) rem(30px));
	background: $orange;
	display: inline-block;
	@include font-size($h3-font-sizes);
	font-style: italic;
	font-weight: bold;
	color: $orange50;
	border-radius: 4px;
	@include media(min-width $sm) {
		@include padding(0 rem(30px));
	}
	@include media(min-width $lg) {
		font-size: 52px;
	}
}



