.coupon{
	&-wrapper{
		// position: relative;
		// z-index: 1;
		background: $orange;
		@include padding(rem(20px));
		@include media(min-width $xs max-width $sm) {
			@include padding(rem(20px) 0);
		}
	}
	&-inner{
		@include padding(rem(20px));
		border: 5px dashed transparent;
		text-align: center;
		box-sizing: content-box;
		position: relative;
		z-index: 10;
		&:before,
		&:after{
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			border: inherit;
		}
		&:before{
			left: -5px;
			top: 0;
			border-color: rgba(0,0,0,0.2);
			filter: blur(5px);
			z-index: -2;
		}
		&:after{
			left: -5px;
			top: -5px;
			border-color: $orange50;
			z-index: -1;
		}
	}
	&-title{
		text-align: center;
		text-transform: uppercase;
		@include margin(null null rem(20px));
		.coupon-text-color{
			margin-bottom: 0;
			color: #fff;
		}
		&-date{
			font-size: rem(24px);
			@include media(min-width $xs max-width $sm) {
				font-size: rem(16px);
			}
		}
	}

	&-content{
		&-text{
			color: $textgray;
			@include margin(rem(10px) null null);
			span{
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	&-text-color{
		color: $red;
	}
	&-button{
		@include margin(rem(30px) rem(20px));
		@include clearfix;
		a{
			@include span-columns(6);
			@include margin(rem(10px) null);
			@include padding(null rem(7px));
			@include media(min-width $xs max-width 860px){
				@include span-columns(12);
			}
		}
	}
}
