

.navbar{
	//padding: 0 20px;
	position: relative;
	&-brand{
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		.logo{
			width: 275px;
			@include media(min-width $sm) {
				width: 420px;
			}
		}
	}
	img{
		width: 100%;
		height: 100%;
	}
	&-menu{
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		@include media(min-width $xs max-width $sm){
			width: 30px;
		}
	}
}

//sticky
.is-sticky{
	.navbar{
		@include padding(rem(10) null);
		z-index: 1000;
		background: $orange50;
		&-menu {
			&-icon{
				width: 24px;
				height: 100%;
			}
		}
		&-brand{
			max-width: 40%;
			.logo{
				width: 275px;
			}
		}
		&-contact{
			&-icon{
				width: 24px;
				height: 100%;
			}
		}
	}
}

//overlay-menu

$content-zindex: 1;
$layer-nav-zindex: 2;
$nav-zindex: 3;
$layer-content-zindex: 4;
$trigger-zindex: 5;
$color-1: $textgray; // blue dark
$color-2: lighten($color-1, 20%); 
$color-3: $orange; // yellow
$color-4: #ffffff; // white

.cd-nav-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
	width: 44px;
	z-index: $trigger-zindex;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	.cd-icon {
		/* icon created in CSS */
		position: absolute;
		@include center; // mixin inside partials > _mixins.scss
		display: inline-block;
		width: 18px;
		height: 3px;
		background-color: $color-4;
		z-index: 10;

		&:before, &:after {
			/* upper and lower lines of the menu icon */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%; 
			background-color: $color-4;

			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			backface-visibility: hidden;

			/* apply transition to transform property */
			transition: transform .3s;
		}

		&:before {
			@include transform(translateY(-6px) rotate(0deg));
		}

		&:after {
			@include transform(translateY(6px) rotate(0deg));
		}
	}

	&:before, &:after {
		/* 2 rounded colored backgrounds for the menu icon */
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		border-radius: 50%;
		height: 100%;
		width: 100%;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition-property(transform);
	}

	&:before {
		background-color: $color-1;
		@include transform(scale(1));
		@include transition-duration(.3s);
		@include transition-delay(.4s);
	}

	&:after {
		background-color: $color-3;
		@include transform(scale(0));
		@include transition-duration(0s);
		@include transition-delay(0s);
	}

	&.close-nav:before {
		/* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
		@include transform(scale(0));
		content: '';
	}

	&.close-nav:after {
		/* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
		@include transform(scale(1));
		@include transition-duration(.3s);
		@include transition-delay(.4s);
		content: '';
	}

	&.close-nav .cd-icon {
		/* user clicks on the .cd-nav-trigger element - transform the icon */
		background-color: rgba($color-4, 0);

		&:before, &:after {
			content: '';
			background-color: rgba($color-4, 1);
		}
		
		&:before {
			@include transform(translateY(0) rotate(45deg));
		}

		&:after {
			@include transform(translateY(0) rotate(-45deg));
		}
	}
}

.cd-primary-nav {
	/* by default it's hidden */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 80px 5%;
	z-index: $nav-zindex;
	background-color: $color-1;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	opacity: 0;
	@include transition(visibility 0s, opacity .3s);

	li {
		margin: 1.6em 0;
		text-align: center;
		text-transform: capitalize;
	}

	a {
		//@include font-size($p-font-sizes);
		//@include font-smoothing;
		@include transition(color .2s);
		color: $color-4;
		.no-touch &:hover, &:hover {
			color: $orange;
		}
	}

	&.fade-in {
		/* navigation visible at the end of the circle animation */
		visibility: visible;
		opacity: 1;
	}
}

.cd-overlay-nav, .cd-overlay-content {
	/* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
	position: fixed;
	top: 18px;
	right: 5%;
	height: 4px;
	width: 4px;
	@include transform(translateX(-20px) translateY(20px));

	span {
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform;
		@include transform-origin(50% 50%);
		@include transform(scale(0));
	}

	&.is-hidden {
		/* background fades out at the end of the animation */
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s 0s, visibility 0s .3s;
	}
}

.cd-overlay-nav {
	/* main rounded colored bg 1 */
	z-index: $layer-nav-zindex;

	span {
		background-color: $color-1;
	}
}

.cd-overlay-content {
	/* main rounded colored bg 2 */
	z-index: $layer-content-zindex;

	span {
		background-color: $color-3;
	}
}

