$menu-overlay:          #ffaf38; //#edb656;
$menu-overlay-button:   $orange; //#e99f30;
.navbar{
	position: relative;
	background: $orange;
	&-inner{
		@include padding(rem(10px) rem(50px) rem(5px) 0);
		@include media(min-width $md) {
			@include padding(rem(10px) rem(60px) rem(5px) 0);
		}
	}
	.container{
		position: relative;
		@include media(min-width $xs max-width $sm) {
			padding: 0 10px;
		}
	}
	&-brand{
		display: inline-block;
		width: 100px;
		@include media(min-width $sm max-width $md) {
			width: 200px;
		}
		@include media(min-width $md) {
			width: 300px;
		}
	}
	img{
		width: 100%;
		height: 100%;
	}
	&-menu{
		padding: 0;
		box-shadow: none;
		outline: none;
		cursor: pointer;
		//outline: 10px solid $orange;
		//background: $orange;
		&:hover, &:focus{
			box-shadow: none;
			//outline: 10px solid $orange;
			//background: $orange;
		}
		display: block;
		position: absolute;
		right: 20px;
		bottom: 60px;
		z-index: 101;
		@include media(min-width $sm max-width $md) {
			bottom: 40px;
		}
		@include media(min-width $xs max-width $sm) {
			right: 20px;
			bottom: 18px;
		}
		&.open-menu{
			outline: 10px solid #fff;
			background: #fff;
			.hmbrgr{
				span{
					background-color: $orange !important;
				}
			}
		}
	}
	&-nav{
		font-size: 0;
		position: relative;
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			background: $textgray;
			position: absolute;
			right: 0;
			top: 0;
		}
		li{
			font-size: 14px;
			@include margin(null rem(10px) null null);
			display: inline-block;
			a{
				height: 20px;
				display: block;
				img{
					max-width: 100%;
					width: auto;
				}
				@include media(min-width $sm) {
					height: 35px;
				}
			}
			@include media(min-width $sm max-width $md) {
				@include margin(null rem(20px) null null);
			}
			@include media(min-width $md) {
				@include margin(null rem(40px) null null);
			}
		}
	}
}


//sticky
.is-sticky{
	#sticker{
		top: auto !important;
		bottom: 0 !important;
		left: 0;
		right: 0;
		margin: auto;
		width: 100% !important;
	}
	.block-main-button{
		a{
			@include span-columns(6, block-collapse);
			@include margin(null null rem(15px));
			margin-right: 0;
			margin-bottom: 0;
			border-radius: 0;
			color: $textgray;
			@include media(min-width $md max-width $lg) {
				@include span-columns(6, block-collapse);
				@include padding(0.625rem 1.5rem);
				margin-right: 0;
			}
			@include media(min-width $sm max-width $md) {
				@include span-columns(6, block-collapse);
				@include padding(0.625rem 0.5rem);
				font-size: 1.5rem;
				margin-left: 0;
				margin-right: 0;
			}
			@include media(min-width $xs max-width $sm) {
				font-size: 1rem;
				@include padding(0.625rem 0.2rem);
			}
		}
		.yes-sticky{
			display: block;
			i{
				margin-right: 10px;
				@include media(min-width $xs max-width $sm) {
					margin-right: 5px;
				}
			}
		}
		.no-sticky{
			display: none;
		}
		.button-gray{
			background: $orange;
			border-right: 1px solid $textgray;
		}
	}
}
#sticker{
	z-index: 99;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $menu-overlay;
	z-index: 100;
}
/* Overlay closing cross */
.overlay-close {
	display: none;
}
/* Menu style */
.overlay-title{
	@include font-size($p-font-sizes);
	text-transform: uppercase;
	color: $orange900;
	font-weight: bold;
	@include margin(null null rem(20px));
}
.overlay-contact{
	a, span{
		display: block;
	}
	span{
		font-size: 14px;
		@include media(min-width $xs max-width $sm){
			font-size: 10px;
		}
	}
}
.overlay nav {
	text-align: center;
	position: relative;
	//top: 5%;
}

.overlay-menu {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	height: 100%;
	position: relative;
}

.overlay-menu li {
	display: block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include padding(rem(20px) 0);
	height: 200px;
	/* autoprefixer: off */
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	@include media(min-width $xs max-width $sm) {
		height: 130px;
	}
	&:first-child{
		background: #ff9800;
	}
	&:nth-child(2){
		background: #fb8c00;
	}
	&:nth-child(3){
		background: #f57c00;
	}
	&:nth-child(4){
		background: #ef6c00;
	}
	&:nth-child(5){
		background: #e65100;
	}
}

.overlay-menu-img{
	display: block;
	width: 75px;
	@include margin(null auto);
	@include media(min-width $xs max-width $sm) {
		width: 50px;
	}
}

.overlay-menu li a {
	@include clearfix;
	@include font-size($p-font-sizes);
	text-transform: uppercase;
	display: block;
	color: $textgray;
	font-family: $heading-font-family;
	transition: color 0.2s;
	span{
		display: block;
	}
}
.overlay-menu li a:hover,
.overlay-menu li a:focus {
	//color: $orange900;
}
/* Effects */
.overlay-slidedown {
	visibility: hidden;
	transform: translateY(-100%);
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	transform: translateY(0%);
	transition: transform 0.4s ease-in-out;
	overflow-y: auto;
}

.hmbrgr span {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  display: inline-block;
}
.hmbrgr.expand span:nth-child(1) {
  transform: rotate(-45deg);
}
.hmbrgr.expand span:nth-child(2) {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
.hmbrgr.expand span:nth-child(3) {
  transform: rotate(45deg);
}
