.section-contact{
	border: 1px solid $orange;
	@include margin(rem(60px) null);
	@include padding(rem(50px) null rem(30px));
	border-radius: 1px;
	border-bottom: 8px solid $orange;
	text-align: center;
	&-title{
		
		display: inline-block;
		position: relative;
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			border-radius: 1px;
			background: $orange;
			position: absolute;
			left: 0;
			bottom: -10px;
		}
	}
	&-content{
		> div{
			@include margin(null null rem(20px) null);
		}
		i{
			max-width: 30px;
			@include margin(null rem(20px) null null);
		}
	}
	&-item{
			text-align: left;
		}
	&-link{
		font-style: italic;
		font-weight: bold;
	}
}
