.bullets {
	$base-line-height: 1.5rem !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$base-font-color: $dark-gray !default;
	$icon-bullet-size: 3.5rem;
	//@include display(flex);
	//@include flex-wrap(wrap);
	margin-bottom: $base-line-height;
	margin: 1rem;
	overflow: auto;
	padding: 0;
	.bullets-row {
		//@include flex-basis(20rem);
		//@include flex-grow(1);
		@include span-columns(6);
		
	}
	.bullet{
		text-align: center;
		@include margin(20px null null null);
		@include padding(null null 20px null);
		&-link{
			font-style: italic;
			font-weight: bold;
		}
	}
	.bullet-icon {
		&-inner{
			@include span-columns(4);
			@include shift(4);
		}
		@include clearfix;
		display: inline-block;
		min-height: 80px;
		&_img{
			width: 100%;
			height: 100%;
		}
	}
	.bullet-content {
		@include clearfix;
		margin-left: 0;
		margin-bottom: 0;
	}
	h2 {
		display: inline-block;
		font-size: $icon-bullet-size / 2.5;
	}
	li {
		list-style: none;
	}
	p {
		color: $base-font-color;
		line-height: $base-line-height;
		font-size: 16px;
	}
	img {
		max-width: 100%;
	}
	@include media(min-width $sm max-width $md) {
		.bullet:first-child{
			position: relative;
			&:before{
				content: '';
				width: 70%;
				height: rem(2px);
				background: $gray-border;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.bullets-row:first-child{
			position: relative;
			@include padding(null 20px null null);
			&:before{
				content: '';
				width: rem(2px);
				height: 70%;
				background: $gray-border;
				position: absolute;
				top:0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
		}
	}
	@include media(min-width $xs max-width $sm) {
		.bullet{
			//text-align: center;
			@include span-columns(12);
		}
		.bullets-row {
			@include span-columns(12);
		}
		// .bullet-icon{
		// 	float: none;
		// 	display: inline-block;
		// }
		// .bullet-content {
		// 	margin-left: 0;
		// 	margin-bottom: 0;
		// }
	}
}