.footer{
	text-align: center;
	&-brand{
		display: block;
		float: none;
		text-align: center;
	}
	&-top{
		background: $orange;
		color: #fff;
		@include padding(rem(20px) null);
		&-title{
			color: #fff;
			font-weight: bold;
		}
		&-content{
			@include padding(null rem(20px));
		}
		&-button{
			@include margin(rem(30px) null rem(10px));
		}
	}
	&-middle{
		background: $light-orange;
		@include padding(rem(20px) null);
		&-button{
			@include margin(rem(20px) null rem(5px));
			@include clearfix;
			a{
				@include span-columns(6);
				@include margin(null null rem(15px));
				&:nth-child(2n){
					margin-right: 0;
				}
				&:first-child{
					@include media(min-width $xs max-width 860px) {
						order: 1;
					}
					order: 2;
				}
				@include media(min-width $sm max-width $md) {
					@include span-columns(8);
					@include shift(2);
					@include padding(0.625rem 1.5rem);
				}
				@include media(min-width $xs max-width $sm) {
					@include span-columns(10);
					@include shift(1);
					@include padding(0.625rem 1rem);
				}
			}
		}
		&-contact{
			font-weight: bold;
			color: rgba(#000, 0.75);
			@include margin(rem(5px) null);
			a{
				color: rgba(#000, 0.75);
			}
			&-link{
				@extend .h4;
			}
		}
	}
	&-bottom{
		@include padding(rem(10px) null rem(60px));
		background: $footer-bg;
		@include media(min-width $sm max-width $md) {
			@include padding(rem(10px) null rem(50px));
		}
		@include media(min-width $xs max-width $sm) {
			@include padding(rem(10px) null rem(40px));
		}
	}
}
