.section-offered{
	@include clearfix;
	&-title{
		text-align: center;
		text-transform: uppercase;
	}
}
.media-list{
	text-align: center;
	@include margin(null null rem(30px));
	&-title{
		text-transform: uppercase;
		@include margin(null null rem(30px));
	}
	@include media(min-width $md) {
		@include span-columns(6);
		@include omega;
		&:last-child{
			@include span-columns(6);
			@include shift(3);
		}
	}
	h4{
		@include media(min-width $md) {
			font-size: rem(36px);
		}
	}

}
