.section-offered{
	&-title{
		text-align: center;
		text-transform: uppercase;
	}
}
.media-list{
	text-align: center;
	@include margin(null null rem(60px));
	&-title{
		text-transform: uppercase;
		@include margin(null null rem(60px));
	}
}
