.simple-table{
	td:first-child{
		@include span-columns(9);
		
	}
	td:last-child{
		@include span-columns(3);
	}
	position: relative;
	&:before{
		content: '';
		width: rem(2px);
		height: 100%;
		background: #b6b9c0;
		position: absolute;
		top:0;
		bottom: 0;
		right: 23.23176%;
		margin-right: 25px;
	}
	td{
		position: relative;
		&:before{
				content: '';
				width: 80%;
				height: rem(1px);
				background: #b6b9c0;
				position: absolute;
				bottom: 0;
				left: 0;
				margin: auto;
			}
	}
}
.block-location{
	@include media(min-width $xs max-width $sm) {
		@include span-columns(12);
	}
	@include media(min-width $sm max-width $md) {
		@include span-columns(6);
	}
}
