$base-font-family: 'Open Sans', 'Arial', sans-serif;
$font-stack-system: $base-font-family;

$baseblue:			#2196F3;
$offwhite:			#EEEEEE;
$lightgray:			#FAFAFA;
$darkgray:			#212121;
$textgray:			#212121;
$green:				#4CAF50;
$orange:			#FF9800;
$gray-border:       #b6b9c0;

$xs: 0;
$sm: 481px;
$md: 980px;
$lg: 1140px;

