.comments{
	//@include clearfix;
	@include margin(rem(60px) null);
	@include media(min-width $xs max-width $sm) {
		@include margin(0 null);
	}
	&-head{
		text-transform: uppercase;
		text-align: center;
		@include margin(null null rem(40px));
		span{
			@extend .title-underline;
		}
	}
}
.comment{
	@include margin(null 5px);
	/* autoprefixer: off */
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content:  space-around;
	-ms-justify-content:  space-around;
	justify-content: space-around;


	// -webkit-flex: 1 0 410px;
	// -ms-flex: 1 0 410px;
	// flex: 1 0 410px;
	// flex-basis: 410px;
	&-row{
		/* autoprefixer: off */
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content:  space-around;
		-ms-justify-content:  space-around;
		justify-content: space-around;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

	}
	&-head{
		border-bottom: 1px solid $orange;
	}
	@include padding(5px 15px);
	border: 1px solid $orange;
	background: $orange50;
	color: $orange;
	border-radius: 4px;
	margin-bottom: 35px;
	max-width: 410px;
	width: 410px;
	@include media(min-width $sm max-width $md) {
		max-width: 350px;
	}
	@include media(min-width $xs max-width $sm) {
		// max-width: 290px;
		@include margin(null 0);
	}
	@include media(min-width $xs max-width 340px) {
		@include padding(5px);
	}
	&-raiting{
		@include padding(null null null 5px);
		.ico-star-full{
			color: $orange;
			font-size: 28px;
			@include media(min-width $xs max-width $sm) {
				font-size: 24px;
			}
		}
	}
	&-link{
		@include padding(8px);
		position: relative;
		text-transform: capitalize;
		&:before{
			content:'';
			width: 1px;
			height: 90%;
			background: $orange;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
		font-size: rem(16px);
		@include media(min-width $xs max-width $sm) {
			@include padding(5px);
		}
		a{
			color: $orange;
			display: inline-block;
		}
	}
	&-body{
		@include padding(rem(20px));
		font-size: 16px;
		text-align: center;
		position: relative;
		.quote-right,
		.quote-left{
			font-size: 56px;
			line-height: 1;
			position: absolute;
		}
		.quote-right{
			top: 10px;
			left: 0;
		}
		.quote-left{
			bottom: -10px;
			right: 0;
		}
	}
	&-footer{
		border-top: 1px solid $orange;
		@include padding(10px null null null);
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}
	&-social{
		&-link{
			display: block;
			color: $orange;
			margin: 0 20px;
			position: relative;
		&:before{
			content:'';
			width: 1px;
			height: 90%;
			background: $orange;
			position: absolute;
			left: -25px;
			top: 0;
			bottom: 0;
		}
		}
	}
}
