.comment{
	&-head{
		@include clearfix;
	}
	@include padding(5px 15px);
	border: 1px solid #b9bcc3;
	border-radius: 4px;
	margin-bottom: 35px;
	&-raiting{
		.ico-star-full{
			color: $orange;
			font-size: 28px;
		}
	}
	&-link{
		@include padding(8px);
		@include span-columns(5);
		font-size: 16px;
	}
	&-body{
		@include padding(20px 40px);
		border-top: 1px solid #b9bcc3;
		border-bottom: 1px solid #b9bcc3;
		font-size: 16px;
		.quote-right,
		.quote-left{
			font-size: 56px;
			line-height: 1;
			position: absolute;
		}
		.quote-right{
			top: 0;
			left: -30px;
		}
		.quote-left{
			bottom: -30px;
			right: -30px;
		}
	}
	&-footer{
		@include padding(10px null null null);
		@include clearfix;
	}
	&-avatar{
		width: 28px;
		height: 28px;
		background: #000;
		border-radius: 50%;
		float: left;
		margin-right: 15px;
	}
	&-social{
		display: block;
		
		
		&-link{
			display: block;
			// padding: 5px 10px;
			font-size: 32px;
			// line-height: 2;
			margin: 0 20px;
			// background: $lightgray;
		}
	}
}
