.comments{
	@include clearfix;

}
.comment{
	&-row{
		@include span-columns(6);
		@include media(min-width $xs max-width $sm) {
			@include span-columns(12);
		}
	}
	&-head{
		@include clearfix;
	}
	@include padding(5px 15px);
	border: 1px solid $orange;
	background: $orange50;
	color: $orange;
	border-radius: 4px;
	margin-bottom: 35px;
	&-raiting{
		.ico-star-full{
			color: $orange;
			font-size: 28px;
		}
	}
	&-link{
		@include padding(8px);
		@include span-columns(5);
		position: relative;
		&:before{
			content:'';
			width: 1px;
			height: 90%;
			background: $orange;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
		font-size: rem(16px);
		a{
			color: $orange;
		}
	}
	&-body{
		@include padding(20px 40px);
		border-top: 1px solid $orange;
		border-bottom: 1px solid $orange;
		font-size: 16px;
		.quote-right,
		.quote-left{
			font-size: 56px;
			line-height: 1;
			position: absolute;
		}
		.quote-right{
			top: 0;
			left: -30px;
		}
		.quote-left{
			bottom: -30px;
			right: -30px;
		}
	}
	&-footer{
		@include padding(10px null null null);
		@include clearfix;
	}
	&-social{
		display: block;
		
		
		&-link{
			display: block;
			// padding: 5px 10px;
			font-size: rem(32px);
			color: $orange;
			// line-height: 2;
			margin: 0 20px;
			// background: $lightgray;
			position: relative;
		&:before{
			content:'';
			width: 1px;
			height: 90%;
			background: $orange;
			position: absolute;
			left: -25px;
			top: 0;
			bottom: 0;
		}
		}
	}
}
